.App {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  padding: 1rem;
}

h1 {
  font-weight: 100;
  font-size: 2.2rem;
  text-decoration-line: overline;
  text-decoration-color: cornflowerblue;
}

p {
  width: 45rem;
}

button {
  height: 3rem;
  width: 26rem;
  border-radius: 0.5rem;
  background: white;
  color: cornflowerblue;
  border: 3px solid cornflowerblue;
}

button:hover {
  background: lightblue;
}